.cover__link {
  position: relative;
  background-image: url("../../../images/__background1png.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  max-width: 1184px;
  margin: 0;
  padding: 0;
  min-height: 740px;
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.cover__link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2c2f;
  opacity: 0.3;
}
.cover__link:hover::before {
  opacity: 0.8;
}
@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}
@media screen and (max-width: 544px) {
  .cover__link {
    min-height: 200px;
  }
}
