.place__title {
  color: #ffffff;
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  justify-self: start;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 544px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
    width: calc(100% - 2 * 16px);
  }
}
