.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 0 0;
}
@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding: 88px 0 0;
  }
}
@media screen and (max-width: 544px) {
  .places {
    max-width: 288px;
    padding: 64px 0 0;
  }
}
