.place__image {
  max-width: 460px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .place__image{
    max-width: 440px;
 }
}
@media screen and (max-width: 768px) {
  .place__image{
    max-width: 340px;
 }
}
@media screen and (max-width:544px) {
  .place__image{
    max-width: 288px;
 }
}