.lead {
  max-width: 984px;
  margin: 56px auto 0;
}
@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 96px);
    margin: 48px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin: 36px 0 0;
  }
}
@media screen and (max-width: 544px) {
  .lead {
    width: 100%;
    margin: 48px auto 0;
  }
}
