.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding: 28px;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 96px);
 }
}
@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
    padding: 40px;
 }
}
@media screen and (max-width: 544px) {
  .header {
    width: calc(100% - 32px);
    padding: 16px 16px 0;
 }
}