.place__pharagraph {
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin: 0 0 26px 0;
}
.place__pharagraph:last-child {
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .place__pharagraph {
    margin: 0 0 27px 0;
  }
}
@media screen and (max-width: 768px) {
  .place__pharagraph {
    margin: 0 0 25px 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 544px) {
  .place__pharagraph {
    margin: 0 0 25px 0;
    font-size: 16px;
    width: calc(100% - 2 * 16px);
    padding-left: 16px;
  }
}
