.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #FFFFFF;
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .lead__title{
    width: calc(100%-304);
 }
}
@media screen and (max-width: 768px) {
  .lead__title{
    width: calc(100%-48);
 }
}
@media screen and (max-width: 706px) {
  .lead__title{
    width: calc(100%-48);
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
 }
}