.intro {
  max-width: 984px;
  margin: 92px auto;
}
@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 88px auto;
  }
}
@media screen and (max-width: 544px) {
  .intro {
    max-width: 288px;
    margin: 50px auto 64px;
  }
}
