.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  text-align: start;
  margin: 8px 0 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}
@media screen and (max-width: 544px) {
  .lead__caption {
    padding-left: 14px;
  }
}
