.place {
  display: grid;
  grid-template-columns: 0.95fr 1fr;
  column-gap: 40px;
  row-gap: 48px;
  margin: 0 0 80px 0;
}
.place:last-child {
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(440px, 0.95fr) minmax(452px, 1fr);
    column-gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(340px, 0.966fr) minmax(356px, 1fr);
    column-gap: 28px;
    margin: 0 0 72px 0;
  }
}
@media screen and (max-width: 544px) {
  .place {
    grid-template-columns: repeat(1, minmax(min(150px, 100%), 1fr));
    row-gap: 32px;
    margin: 0 0 50px 0;
  }
}
@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(1, minmax(min(150px, 100%), 320px));
  }
}
