.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px auto 24px;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px auto 24px;
  }
}
@media screen and (max-width: 544px) {
  .footer {
    max-width: 320px;
    margin: 64px auto 24px;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
  }
}
